<div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1378126214551"
     id="page-5074801ae4b0933ed3d9d55e" xmlns="http://www.w3.org/1999/html">
    <div class="row sqs-row" id="yui_3_10_1_1_1383418183048_265">
        <div class="col sqs-col-12 span-12">
            <div class="sqs-block html-block"
                 data-block-type="2" id="block-be77c2055056a016a64d">
                <div class="sqs-block-content">
                    <p>
                        We have been successfully involved for development of small to large size projects in several fields. We have consistently worked towards bringing  strength, economy & speed in the project. The feedback from clients, contractors & like-wise personal involved in our works has been encouraging. We have delivered in time & with competitive use of material.
                        Due to the rich  experience & skill level our works reflect the desired aesthetic, are economical, have the required strength & have been appreciated .
                        The ever growing need for larger constructions, economy & speed has evolved the process for change & new technology. We have successfully dealt & delivered designs with new technology to achieve speed & economy. Working with new construction materials and techniques for faster and Dry construction to meet the modern challenges of time, quality and cost. Some of our projects have been built using steel members, pre-cast slabs, and deck sheets at a very comparable/ competitive cost.
                    </p>
                    <p>
                        Engineering for re-construction of the Bhuj Hospital, was done using composite girders and
                        precast
                        composite slabs. The Base-Isolation technology in this Hospital was brought in the country for
                        the
                        first time to ensure total protection against damage and shaking in the event of earthquake.

                        We have the most encouraging remarks from industry leaders and engineering professionals on our
                        works, especially on efficient usage of materials in structures (both RCC and steel).
                        We have the experience and expertise to renovate existing old and new structures and replace the
                        structural framing elements like columns, beams etc to make more usable spaces to suit the
                        changed
                        building’s functional and aesthetic needs.

                    </p>
                    <p>
                        We have personals with rich experience of engineering:
                    <br />
                        Kamal Sabharwal: Chief consultant: (B.E-1981, Delhi college of Engg, Masters in structure(2007), M.I.E)
                        Rich experience & exposure of structural designs & in addition to the mentioned projects under heading Projects, has been involved in Prestigious Industrial Projects like Float Glass Project of Modi Float Glass, Dabur India Ltd’s Industrial complexes, Expansion of Maruti Udyog Ltd. & many more Large Projects.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
