<div class="sqs-block-content">
    <ul style="font-size: 1em">
        <li>The Bhuj Hospital building got the Best building award in 2004 from the President of India, Mr Abdul Kalam
            on behalf of Indian building congress. The award was given in Innovative Technology category
        </li>
        <img src="ceConImages/tech6.png" style='width: 90%'/>
        <li>Zeco Industries got the Best Industrial building award for 2006 in Industrial category. The award was given
            by the Indian building congress-Predominantly a body of engineers.
        </li>
        <img src="ceConImages/tech7.png" style="width: 90%"/>
        <li>Asia –Pacific Award for Cultural Heritage Conservation from UNESCO in year 2007 for the structural
            restoration works at Maitreya Temples, Ladakh, India.
        </li>
        <li>Bhopal Airport-We were the Structural consultants for the Project. Building won the Best Steel Building
            award from INSDAG for year 2011.
        </li>
        <li>As part of consortium, have won several awards for works in unconventional areas and in competitions.</li>
    </ul>
</div>