<div class="sqs-layout sqs-grid-12 columns-12" data-type="page" id="page-services">
    <div class="row sqs-row" id="yui_3_10_1_1_1383418183048_265">
        <div class="col sqs-col-12 span-12">
            <div class="sqs-block html-block"
                 data-block-type="2" id="block-be77c2055056a016a64d">
                <div class="sqs-block-content">
                    <p>
                        CE CON ENGINEERS<br><br>

                        Address: HS- 25 Second floor, Kailash Col Market, N.Delhi- 110048<br>

                        Ph: 9810056948,<br>

                        TELEFAX: 43012463;<br>

                        E-Mail: sssaaabbb@gmail.com<br><br>

                        For structural design needs please contact us at above mail ID with project details & preliminary schedule

                    </p></br></br>
                    <p>
                    <table width="502" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <!--<form action="/query" method="post"><tr>-->
                        <td width="502"><p><span class="redTextMediumBold">To Contact Us Online Fill Up the given form below:</span>
                        </p>
                            <table width="455" cellspacing="1" cellpadding="4" border="0">
                                <tbody>
                                <tr>
                                    <div id='formError'></br></div>
                                </tr>
                                <tr bgcolor="#F1F1F8">
                                    <td width="107" valign="top" align="left" class="greyTextSmall">Name</td>
                                    <td width="500"><input type="text" id="name" name="name"></td>
                                </tr>
                                <tr bgcolor="#F1F1F8">
                                    <td valign="top" align="left" class="greyTextSmall">Email Address</td>
                                    <td><input type="text" id="email" name="email"></td>
                                </tr>
                                <tr bgcolor="#F1F1F8">
                                    <td valign="top" align="left" class="greyTextSmall">Mobile or Tel No</td>
                                    <td><input type="text" id="phone" name="phone"></td>
                                </tr>
                                <tr bgcolor="#F1F1F8">
                                    <td valign="top" align="left" class="greyTextSmall">Message</td>
                                    <td><textarea id="message" rows="5" cols="30" name="message"></textarea></td>
                                </tr>
                                <tr bgcolor="#F1F1F8">
                                    <td colspan="2"><input type="submit" value="Submit Details" class="submitButton"
                                                           name="Submit"></td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <span>All fields are mandatory for message submission. </span></td>
                        </tr>
                        <!--</form>-->
                        </tbody>
                    </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

