<div class="sqs-layout sqs-grid-12 columns-12">
    <div class="row sqs-row" id="yui_3_10_1_1_1383418183048_265">
        <div class="col sqs-col-12 span-12">
            <div class="sqs-block html-block"
                 data-block-type="2" id="block-be77c2055056a016a64d">
                <div class="sqs-block-content"><p>

                    <p>CE CON ENGG is a structural design and civil engineering firm handling all varieties of
                        infrastructure & building projects.
                        We deal in structure design of RCC, Steel, Pre-stress structures, Heritage, Low cost & new
                        technologies for construction.</p>
                    <p>
                        The company has experience of design of structures for Housing complexes, Hospitals, Shopping
                        malls
                        and Multiplexes, Townships, Water & Waste water structures, Industrial projects, Commercial
                        Buildings, Hotels, Schools, Colleges, Preservation of Heritage/Historic buildings, Bridges, Low
                        cost
                        buildings with natural resources, Hangers, Stacks, Equipment platforms/ Equipment foundations &
                        Miscellaneous structures.
                        Our projects have been appreciated and have won awards for being better engineered.
                        Have the most encouraging remarks from industry leaders and engineering professionals on our
                        works,
                        especially on efficient usage of materials in structures (both RCC and steel).
                    </p>
                    <p>
                        We have the experience and expertise to renovate existing old and new structures and replace the
                        structural framing elements like columns, beams etc to make more usable spaces to suit the
                        changed building’s functional and aesthetic needs.
                        We have unmatched record of efficient, economical and strong foundations and structures for
                        multi-storied housings, IT buildings, Malls, large exhibition halls and industrial projects.
                    </p>
                </div>
            </div>
            <div class="sqs-block html-block">
                <div class="sqs-block-content"><h2>Our Goal</h2><p>
                    To create value for our clients by exercising a high level of efficiency in design and
                    construction while committing to quality and life safety.</p>
                </div>
            </div>
            <!--<div class="sqs-block image-block"-->
            <!--data-block-type="5" id="block-59309d85e3e23d076838">-->
            <!--<div class="sqs-block-content" id="yui_3_10_1_1_1383418183048_263">-->

            <!--<div class="image-block-outer-wrapper layout-caption-below " id="yui_3_10_1_1_1383418183048_262">-->
            <!--<div class="image-block-wrapper lightbox " data-description="" id="imageBlock">-->
            <!--<img class="thumb-image loaded"-->
            <!--data-src="http://static.squarespace.com/static/5074801ae4b0933ed3d9d554/t/507db7fbe4b0b7a3f69e927c/1350416379879/ships.jpg"-->
            <!--data-image="http://static.squarespace.com/static/5074801ae4b0933ed3d9d554/t/507db7fbe4b0b7a3f69e927c/1350416379879/ships.jpg"-->
            <!--data-image-dimensions="1449x1012" data-image-focal-point="0.5,0.5"-->
            <!--data-load="false" data-image-id="507db7fbe4b0b7a3f69e927c" data-type="image"-->
            <!--style="" alt="Transient"-->
            <!--src="ceConImages/tech3.jpg"-->
            <!--data-image-resolution="1000w">-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->
            <div class="sqs-block html-block"
                 id="block-2">
                <div class="sqs-block-content"><h2>Our Values</h2>
                    <ul style="font-size: 1em; padding-left: 2%">
                        <li> Integrity and ethical relationships.
                        <li> Ongoing improvement in our methodologies and workforce.
                        <li> Commitment to make all our projects successful.
                        <li> Timely completion.
                        <li> Safety.
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
