<div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1378126214551"
     id="page-5074801ae4b0933ed3d9d55e">
    <div class="row sqs-row" id="yui_3_10_1_1_1383418183048_265">
        <div class="col sqs-col-12 span-12">
            <div class="sqs-block html-block"
                 data-block-type="2" id="block-2">
                <div class="sqs-block-content">
                    <div class="projectSpan">
                        <select class="projectMenuItem" id="projectMenuItem">
                            <option value="housing">Housing</option>
                            <option value="malls">Malls & Multiplexes</option>
                            <option value="hospitals">Hospitals</option>
                            <option value="commercial">Commercial and Institutional</option>
                            <option value="educational">Schools, Colleges and Educational Campuses</option>
                            <option value="hotels">Hotels</option>
                            <option value="industrial">Industrial</option>
                            <option value="special">Special Projects</option>
                        </select>
                    </div>

                    <div id="housing" class="projectsItem displayItem">
                        <p>
                        <ul style="font-size: 1em">
                                <li> ATS</br>
                                    1. ATS 1 Sec 50 NOIDA</br>
                                    2. ATS Advantage, Indirapuram Basement+G+22 storey tower</br>
                                    3. ATS Hamlet, Sec 104, NOIDA, Express way. 31 storey tower</br>
                                    4. ATS PARADISO, Greater NOIDA - Club, Villas</br>
                                    5. Housing & Villas at Derabassi. 2 Basement+G+21 storey</br>
                                    6. ATS Kocoon sector 109, Gurgaon. Basement+22 storey</br>
                                    7. ATS Triumph sector 104, Gurgaon. Basement +Stilt+ 26 storey</br>
                                    8. ATS Pristine-Sector 150 Noida. Towers with 2 Basement+G+23</br>
                                    9. ATS Caselbana-Mohali Towers with (2B+g+26)</br>
                                </li>

                                <li> Ansal API 2 Basements+29 storey Housing at Greater Noida.
                                </li>
                                <li> Sunworld Arista Housing Development with 22 storey to 38 storey Housing Blocks at
                                    Noida.
                                </li>
                                <li> Aquapolis-Ghaziabad Towers with 2B+g+29 floors, including Tower with MIVAN or
                                    equivalent technology
                                </li>
                                <li> HITECH City LucknowTowers with Basements+Ground + 14 storey to 24 storey.
                                </li>
                                <li> MSX
                                    1. MSX Mall G. NOIDA (700,000 sqft, Mall/Multiplex. Structure complete)</br>

                                    2. MSX Housing Tronica City, Delhi (under construction)</br>

                                    3. MSX Housing G. NOIDA (under construction)</br>
                                </li>

                                <li> RAHEJA </br>
                                    1. Navodaya, Gurgaon, Sector 93 (structure complete. 2basement+18)
                                </li>
                                <li> TULIP</br>

                                    1. TULIP Grand Housing at Sonipat (Basement+16 storey)</br>

                                    2. Office Building Sector 18,Gurgaon </br>

                                    3. Commercial complex, Sonipat</br>
                                </li>
                                <li> ASF Housing & SEZ Gurgaon Mand Hills (3 Basement +22 Floors Towers)
                                </li>
                                <li> KAD Housing</br>
                                    1. RADISSON Hotel & Office Complex at Kaushambi, Ghaziabad (approx 7,00,000
                                    sqfts)</br>
                                    2. KAD Housing, Raj Nagar extension, Ghaziabad</br>
                                </li>
                                <li> Viraj Housing Sun-Breeze apartments for Viraj Constructions at Lucknow.
                                </li>
                                <li> BPTP</br>
                                    1. Amstoria sector 102 Gurgaon</br>

                                    2. Sector 70A Gurgaon</br>
                                </li>

                                <li> TGB</br>                             1. 26 storey building at Sector 50 NOIDA
                                    (Architect: Hafeez
                                    Contracts)</br>
                                    2 Mall at Bareilly.</br>

                                </li>
                                <li> ANSAL-API</br>
                                    1. Housing & Commercial buildings at Jodhpur and Bhatinda.</br>
                                </li>
                                <li> Expo city</br>
                                    1. Expo-City: Commercial Building at Sector-62 Noida, near Jaypee college. Large
                                    spans Halls (Basement+3 floors in steel structure).</br>
                                    2. Expotel hotel at Hyderabad – (2 basements+10 storey)</br>
                                </li>
                                <li> NOIDA Authority</br>
                                    1. Hospital and housing at NOIDA sector 30. (2bsaement+8 to 16 storey).</br>
                                    2. Panchsheel Boys College with hostel and housing</br>

                                    3. Greater NOIDA Development Authority Office building (22 stories)</br>
                                </li>
                                <li> Also completed CGHS (Co-operative Group Housing Societies) about 10 numbers at
                                    dwarka and gurgaon
                                </li>
                                <li> Express Greens at AT/1 Vaishali, Ghaziabad (2 Basements+14 storey)
                                </li>
                                <li> BDI Sunshine city at Bhiwani for Bhaskar group (Stilt +13 storey)
                                </li>
                                <li> Shreya Greens at Jalandhar (Stilt+12 storey)
                                </li>
                                <li> Taj Phase 2 Housing for Agra development authority. (2 Basements+16 storey)
                                </li>

                                <li> Building for I Valley-IT Park, Vardhman Estates, Greater NOIDA – Housing, Hotel &
                                    Office building (approx. 15 lakh sqft).
                                </li>
                                <li> Calfornia country – Housing at Faridabad 1n 12 acres. Basement+16 story.
                                </li>
                                <li> Shorya Greens at Jalandhar.
                                </li>
                                <li> Housing Belmont Park in 12 acres at Indore.
                                </li>
                                <li> Institutional Housing at sec 13, Dwarka for Nagaland PWD. Area around 2,50,000
                                    sqft.
                                </li>
                                <li> Bhartiya CGHS-Dwarka
                                </li>
                                <li> Townships for Jindal group at Raipur, Angul. These are 3-4 storied construction
                                    using steel columns & steel beams. Also doing club building & shopping using steel
                                    structures.
                                </li>
                                <li> Coral wood Group Housing Complex at Sector-84 Gurgaon
                                </li>
                                <li> KAD Housing, Raj Nagar extension, Ghaziabad
                                </li>
                                <li> Group Housing at sector-37 Gurgaon for Ramprastha Promoters.<br>
                                </li>
                            </ul>
                            </p>
                    </div>
                    <div id="malls" class="projectsItem">
                        <p>
                            <ul style="font-size: 1.05em;line-height: 1.9">
                                <!--MALL & MULTIPLEXES<br>-->
                                <li>	Expression Mall at Kaushambi Ghaziabad. 3 Basements, shopping (wall mart), Cineplex, Raddison Hotel. Close to 7,50,000 sq.ft of construction.<br>
                                <li>	MSX Mall at Greater Noida. 2 Basements, shopping, Cineplex & Hotel. Close to 7,00,000 sqft of construction<br>
                                <li>	Silver City: This is a Mall with 3 numbers cinemas/ Multiplex at Ghaziabad. This is an operational mall since early 2004.<br>
                                <li>	Food courts at Hyderabad: 12 storeyed with double basement for exhibitions, fashion shows, Rock concerts, Food courts/ Restaurant, Hotel rooms and entertainment floors. The structure has 9m grids with 325mm deep RCC elements. Structure is complete.<br>
                                <li>	Sewa Grand Mall at Faridabad: It is a centrally air-conditioned building with 2 basements and about a Lakh sq.ft of shoppng and 4 levels as Hotel. Work has begun at site.<br>
                                <li>	1st mall Dwarka: Is an Air-conditioned basement plus four storeyed shopping complex. The structure is completed.<br>
                                <li>	Mittal City Mall at Bhatinda: Is a  3 basement and 10 floors above project with 3 levels of Hotel over Cinema Halls.<br>
                                <li>	MDLR Globe-3 basements and shopping and Mutiplex at Gurgaon.<br>
                                <li>	Marvel Mall at Hissar. This is a 2.5 Lakh sq.ft area mall. One Basement and 3 storeys plus multiplex above.<br>
                                <li>	BB Mall at Bhiwadi.<br>
                                <li>	EARTH Iconic Sector-71 Gurgaon<br>
                                <li>	KAD Housing 1. RADISSON Hotel & Office Complex at Kaushambi,     Ghaziabad (approx 700,000 sqfts)<br>
                            </ul>
                        </p>
                    </div>
                    <div id="hospitals" class="projectsItem">
                        <p>
                            <ul style="font-size: 1.05em;line-height: 1.95">
                                <li>	200 Bedded Hospital at Kokiwala, Ashok Vihar-Phase IV, New Delhi. Area 7,50,000 sqft.<br>
                                <li>	100 Bedded Balakram Hospital at Timarpur, New Delhi. Area 3,50,000 sq.ft.<br>
                                <li>	Bhuj Hospital.<br>
                                <li>	Dr Bhim Rao Multi speciality Hospital & Housing at Sec-30, Noida.<br>
                                <li>	Blue Sapphire Hospital at Faridabad.<br>
                                <li>	AIMS-Surgical ward. New building at AIMS with double Basement and 8 storeys above. Area 1,50,000 Sq.ft.<br>
                                <li>	Jan Nayak CH. Devi Lal Vidyapeth, Hospital at SIRSA. Area 1,25,000 Sq.ft.<br>
                                <li>	Baba Dalip singh Bedi hospital and research centre – Indore.  This is a Basement plus eight storeyed building.<br>
                                <li>	Dental college and Hospital at Orissa.<br>
                                <li>	100 Beded Hospital at Thoubal, Manipur.<br>
                                <li>	Fortis Hospital– New wing to the existing Jaslok hospital is being added by Fortis Group.<br>
                                <li>	Hospital at Gango for Nice society.<br>
                                <li>	Hospital for Indo-German society at Dasna, Ghaziabad.<br>
                                <li>	Cancer Hospital at Hissar, Jindal complex.<br>
                            </ul>
                        </p>
                    </div>
                    <div id="commercial" class="projectsItem">
                        <p>
                            <ul style="font-size: 1.05em;line-height: 1.65">
                                <li>	Oxy Park of RPS group at Faridabad – close to 15,00,000 sq.ft, 3 Basements, and up to 11 floors.<br>
                                <li>	Proposed Greater Noida office Building – 2 Basement & upto 22 storied.<br>
                                <li>	Vardhaman groups IT complex with residential, hotels, clubs & IT building at Greater Noida-Knowledge park.<br>
                                <li>	Best Sky Tower at Pitampura, Delhi- 17 storeyed structure for offices and shopping.<br>
                                <li>	B-7, Pitampura, Delhi-17 storeyed structure for offices and shopping.<br>
                                <li>	IT Park building at Gurgaon at 14/2 Milestone, Old Gurgaon Road. Area 6,00,000 Sq.ft.<br>
                                <li>	Teletech Building at Gurgaon Sec 18. Area 4,50,000 Sq.ft.<br>
                                <li>	Bhartiya Teletech Building at Pace city, Gurgaon. Area 1,75,000 Sq.ft.<br>
                                <li>	Office Building complex at 195, Phase VI- Gurgaon with double Baement & 4 Storeys. Area 2,00,000 Sq.ft.<br>
                                <li>	Institutional complex for Jindal’s at Manpur-Orissa.<br>
                                <li>	Ansals Corporate Plaza (Time Square Plaza) : 8 storeyed commercial-cum-office complex at Gurgaon.<br>
                                <li>	Office and Data center building at Gurgaon for IOC..<br>
                                <li>	Skiing institute building : The building modifications and roof structures were done after a gap of 2 decades(because of insurgence in the valley)<br>
                                <li>	Maruti Showroom at Tiz Hazari station was built with innovative technology for considerations of light weight slabs.<br>
                                <li>	Chattisgarh Bhawan-Delhi.<br>
                                <li>	Meghalaya Bhawan-Delhi.<br>
                                <li>	Office and Data centre Building 2 Basements and 6 floors above for Bhartiya group at Gurgaon.<br>
                                <li>	Arunachal Bhawan I Block-II chanakyapuri. Basement plus Six storied Building. Architects- Benjamin, Benjamin&Vats.<br>
                                <li>	Arunachal Bhawan-II chanakyapuri – Delhi. Basement plus Six storied Building. Architects -Sunil Saini.<br>
                                <li>	Meghalaya & Nagaland Bhawan Delhi.<br>
                                <li>	Phase-I office building for Duncan-Macneils mega city center development project at Hyderabad.<br>
                                <li>	Public Administration Building - for PWD, Bhopal.<br>
                                <li>	Church at Trilokpuri - Column free 19m dia Hall. 3 dimensional structure with sloping roof considered as space structure.<br>
                                <li>	Chinmaya Mission Building – Noida.<br>
                                <li>	Jaipuria Plaza – Shopping complex at Sec 26, Noida.<br>
                                <li>	Ganga Plaza commercial complex – Meerut..<br>
                                <li>	Showroom & Workshop for British Motors-Gurgoan.<br>
                                <li>	Office Buildings for HAYWELLS, Balaji Plaza complex –    Rohini, DDA Control Bldg - Samrat Enclave, DDA Control Bldg - Gujranwala Town, Shop Cum office Block - Pushp Vihar, Shops & Hotel Bldg - 12,Block - 17A, Western Extn Area , Karol Bagh.<br>
                                <li>	Office Block for The Sachdeva P.T. college Group- Patparganj.<br>
                                <li>	Commercial complexes at Gandhi-nagar & Madhu Vihar areas of Delhi.<br>
                                <li>	Tulip Office Building Sector 18, Gurgaon<br>
                                <li>	Tulip Commercial complex, Sonipat<br>
                                <li>	26 storey building at Sector 50 NOIDA for TGB (Architect: Hafeez                                Contracts)<br>
                                <li>	TGB, Mall at Bareilly.<br>
                            </ul>
                        </p>
                    </div>
                    <div id="educational" class="projectsItem">
                        <p>
                            <ul style="font-size: 1.05em;line-height: 1.65">
                                <li>	IIIT project – Hyderabad; (At Vampalli Mandel Kadapa Dist., A.P.) Project with 25,00,000 sq.ft. of construction in 3 phases. Second stage under construction. First phase successfully completed & commissioned.<br>
                                <li>	PANCHSHEEL INTER COLLEGE FOR BOY'S AT SECTOR- 91, NOIDA.<br>
                                <li>	Agarsen college-In East Delhi. New campus under construction.<br>
                                <li>	Rajguru college-In East Delhi. New campus under construction.<br>
                                <li>	O.p jindal global university, Jindal global law school, sonepat.<br>
                                <li>	Amethi college buildings –at Lucknow (college & auditorium), Maneshar (Hostels), Jaipur(academic building), Gwalior & Raipur<br>
                                <li>	Agricultural and technical college-Shri Kanshiramji University at Banda (25 lakh sqft approx).<br>
                                <li>	  Ajay kumar garg engineering college, ghaziabad<br>
                                <li>	I C F A I     Campus at Tripura & at Aizwal<br>
                                <li>	Euroschool  international At sri city , tada - andhra Pradesh, Belonging to dr. K.k. kankani educational  institution pvt. Ltd<br>
                                <li>	Adamas institute of professional training Promoted by m/s. Sachis kiran roy Memorial trust, west bengal<br>
                                <li>	Maharana pratap institute at jaipur<br>
                                <li>	Proposed buddha institute of technology on plot no.: cl-1, sector-7,gorakhpur (u.p)<br>
                                <li>	Proposed senior secondary school building On plot no. S-1, sector-135, noida (u.p) For m/s richmond educational society.<br>
                                <li>	Schools and Cyclone shelters at Orissa: Cost effective, RCC Framed structures to resist effects of severe winds and cyclone. (Based on typical designs-20 Nos- more than thousand schools constructed in Orissa).<br>
                                <li>	Keshav Mahavidayalaya at Pitampura, Delhi.<br>
                                <li>	Asia school of engg. & management  at lucknow, run by Society for  advancement in education Dehradun<br>
                                <li>	ILM institute, Ghaziabad. Phase 2 buildings and phase 3 buildings for the institute involving academic Blocks, Hostels and Dining.<br>
                                <li>	School Complex for Jindal’s at Hissar.<br>
                                <li>	College-GITI at New Tehri Township: Main Academic block, Workshop buildings, Hostel & Housing Blocks.   The Terrain was Hilly & challenging. Project Architects- DKS.<br>
                                <li>	Adharshilla School: Basement plus 4 floors RCC Framed structure with large spans, primary and secondary Blocks with provision for Library, Labs, Auditorium and all necessary facilities.<br>
                                <li>	Indian Institute of Foreign Trade. (in Qutab Institutional area, N Delhi):  .<br>
                                <li>	College Buildings- Main block, Dining with 14 m spans in RCC and Hostels for IMS Engineering College at Ghaziabad.<br>
                                <li>	College buildings for ILM group at Gurgaon, Greater Noida and Chandigarh.<br>
                                <li>	College for Nice society at Gangoo and Meerut.<br>
                                <li>	Kendriya Vidyalaya - Naharlagan - Arunachal Pradesh.<br>
                                <li>	Kendriya Vidyalaya – Itanagar – Assam<br>
                                <li>	Kendriya Vidyalaya – Rajokri – New Delhi<br>
                                <li>	Maharaja Agarsen Public school(Ashok Vihar).<br>
                                <li>	St Angeles Public School at Rohini.<br>
                                <li>	Little Angeles Public School at Pitampura.<br>
                                <li>	School Building for Sachdeva	P.T.College - LodhiRoad.<br>
                                <li>	Addition of Library Block of Shriram college, Delhi.<br>
                                <li>	Agricultural and technical college-Shri Kanshiramji University at Banda (25 lakh sqft approx)<br>
                                <li>	 Buildings for Amity educational group at Lucknow, Jaipur and Manesar.<br>
                                <li>	IIIT Kadappa, Hyderabad. (25 lakh sqft approx)<br>
                                <li>	Arham School, Rajasthan<br>
                                <li>	BRCM school, college and hostel at Bahal,<br>
                                <li>	Maharana Pratap technical college at Jaipur<br>
                                <li>	Euro School, Bangalore.<br>
                                <li>	EDUCOMP NOIDA and Amritsar.<br>
                                <li>	Career Point University at Hamirpur.<br>
                            </ul>
                        </p>
                    </div>
                    <!--</li>-->
                    <div id="hotels" class="projectsItem">
                        <p>
                            <ul style="font-size: 1.05em;line-height: 1.9">
                                <li>	The Grand Lakshmi Villa Palace, Udaipur-Did the structural componenet for the additions, modifications and new structures in the Year 2004.<br>
                                <li>	Hotel Radisson-cum office complex – at Sahibabad near Dabur, Ghaziabad for KAD Housing<br>
                                <li>	The InterContinental Hotel at Cannaught Place, New Delhi. We have done modifications to the Banquet Hall entry by way of a column removal, additions of structure and change of fascia from stone to Glazing. Also planning for internal walkway bridges. Work Period 2005.<br>
                                <li>	Hotel for MDLR at Sec 14 Gurgaon. Triple basement an 11 floors above.<br>
                                <li>	Ambassador Hotel, New Delhi: We are involved with the Hotel since 2003 for structural consultancy on necessary modifications and additions.<br>
                                <li>	Hotel -75 Rooms in Faridbad in SEWA Mall.<br>
                                <li>	Hotel - in CITY Mall at Bhatinda.<br>
                                <li>	Hotel-cum-commercial complex, Guhawti - Basement plus Eight storied Building. Severe seismic zone-V considered for design.<br>
                                <li>	Quality Inn Hotel, Shimla- Stepped Building with 6 levels of stilts due to construction at uphill site. This is presently a 75 bed Hotel with Banquet Halls and Restaurants. It is a 60 bedded Hotel.<br>
                            </ul>
                        </p>
                    </div>
                    <div id="industrial" class="projectsItem">
                        <p>
                            <ul style="font-size: 1.05em;line-height: 1.85">
                                <li>	Buildings for Maruti Udyog Limited gurgaon plant & at Maneshar plant.<br>
                                <li>	Factory buildings for Lakhani group at Faridabad, Gurgaon and Haridwar.<br>
                                <li>	Factory Buildings for ZECO group.<br>
                                <li>	Industrial buildings for PriyaGold Biscuits:  The Industrial Buildings for the manufacturing of Biscuits for Priya-Gold. Designed for large spans and provision of Heavy loads for machine placements.<br>
                                <li>	Have done several Industrial building with large spans and multiple floors in the NCR and beyond.<br>
                                <li>	Okhla Sewage Treatment Plant (Ph-II) - 16 MGD:  Design of Raw sludge, Return sludge & Filtrate Pump-house for The Turnkey contract.<br>
                                <li>	Building to house coal crushers: 23 meter tall, single story, steel structure with 25t Cranes of 20m span. Foundations for heavy equipments was designed for frequency, bearing capacity, stability and all other necessary precautions.  for BALCO at Korba<br>
                                <li>	Factory for Subash Projects: At Jaipur for manufacture of Pre-stressed Concrete Pipes<br>
                                <li>	Industrial complex for the ‘Indian Art Place’: at Ramgarh, Shekawati - near Churu (Rajasthan). Work involved design of Large span covered sheds with special consideration for the cost effective design & design of office administration building, exhibition areas, guesthouse etc.<br>
                                <li>	Press Building for Punjab Kesri group at Ambala<br>
                                <li>	Usha International - at NEPZ Noida, Nulax Tools- at NEPZ Noida, C-R valves - at NEPZ Noida..<br>
                                <li>	Plaza cables – Delhi, R.G. Coir – Bhiwari, Luthra Ispat – Ghaziabad.<br>
                                <li>	Retainer consultant for Sidhomal Paper conversion Mills – Ghaziabad.<br>
                                <li>	Mini refinery structures:<br>
                                        &nbsp;: Hazoor sahib - Ghaziabad<br>
                                        &nbsp;: Vamshi Exports – Lucknow<br>
                                        &nbsp;: Nav Bharat Dal mills – Delhi<br>
                                        &nbsp;xv.	Factory Buildings for:<br>
                                <li>   Eastern Medikit (Gurgoan);  B-30, Okhla Industial Area, Ph-I.; Capital Foam (Delhi); DSIDC - Okhla; and similar more projects; Factory Buildings for Kumar Printers at Okhla; Jaydee Exports, Bhartiya’s, etc.<br>
                                <li>	Sub consultant to Toyo Engg:	Involved in designs & structural steel Fabrication drawings for HBJ GAS PIPELINE Project handled at Delhi.<br>
                            </ul>
                        </p>
                    </div>
                    <div id="special" class="projectsItem">
                        <p>
                            <ul style="font-size: 1.05em;line-height: 1.9">
                                <li> 300 Bedded GKGH Hospital at Bhuj. Basement plus 4 storeyed structure  built using base isolation Technology. To achieve faster construction for large areas in short time steel beams and pre-cast slabs were used.<br>
                                <li> Bhopal Airport Building : The new airport Terminal at Bhopal is built as large steel frame structures with innovative technology to give aesthetics, large column free spaces and curved roof forms to meet International standards.<br>
                                <li> International Trade Expo center and Mall: The building is developed to hold exhibitions, concerts, Fashion shows and the like events. It has a basement and Three levels above with large spans (Grids of 20m x 16m). The construction is based on the use of steel structures and sacrificial Deck slab.<br>
                                <li> Chatrasal Stadium – Training Venue for Common wealth Game 2010. The complete stadium along with roof covering for seating Gallery structure has been designed.<br>
                                <li> Talkatora stadium (swimming events competition for 2010 commonwealth games)  roof covering: We were involved in the large span roof construction to assist he Indian Team for the erection & adaptation of the design spanning 115m by 135m column free.<br>
                                <li> Temple dome at Pune: We were the consultant for the design of 60m diameter roof dome under construction with steel structure & permanent Ferro-cement roof covering.<br>
                                <li> Housing at Angul and at Raigul for Jindal’s Steel Plants:  4 storied & 6 storied buildings using steel columns, steel beams and concrete slabs with in filled Brickwork.<br>
                                <li> Specialist structural consultant to ILFS, FEEDBACK, Maruti Udyog for work on infra-structure and Industries.<br>
                                <li> Pondicherry Airport<br>
                                <li> Port Blair Airport<br>
                                <li> Ranchi Airport<br>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
