<div class="sqs-layout sqs-grid-12 columns-12" data-type="page" id="page-services">
    <div class="row sqs-row" id="yui_3_10_1_1_1383418183048_265">
        <div class="col sqs-col-12 span-12">
            <div class="sqs-block html-block">
                <div class="sqs-block-content">
                We offer the following services related to structural design engineering consultancy:<br />
                 <ul class="servicesList">
                    <li>    a.	Concept reports, design basis reports & tender drawings.
                    <li>    b.	Preliminary planning & estimates.
                    <li>    c.	Detailed Structural design & drawings.
                    <li>    d.	Project inspection & quality monitoring.
                    <li>    e.	Restoration & Rehabilitation.
                    <li>    f.	Review & value engineering.
                    <li>    g.	Project planning , Phasing & management.
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
